.p1 {
  margin-top: 14px;
    font-size: 17px;
    color: gray;
}

.borders{
  margin-top: 20px;
    border-right: 1px solid;
    border-right-width: unset;
    margin-bottom: 19px;
    border-right-color: darkgray;
    
}

.bordersx{
  margin-top: 20px;
    
    margin-bottom: 19px;
}