<div class="container z-depth-2 text-center" style="background:#ff4500;height: 350px;margin-top: 30px">
    <img class="img-fluid" style="width: 200px;margin-top: 35px" src="assets/images/icon.png" alt="Vstore.com">
    <h2 style="color:white;margin-top: 15px">Vstore</h2>
    <h5 style="color:white;font-family: initial;">THE FUTURE IS HERE </h5>
</div>

<div class="container">
  
<div  style="margin-top: 40px">
    <blockquote class="blockquote" style="color:#212529">
        <h3 class="bq-title" style="color:#e91e63">Our Story</h3>
      </blockquote>
    
  </div>

  <section>
<div style="padding-left:120px;padding-right:120px;margin-bottom: 70px">
    <p style="font-size:20px;line-height:2.0rem">
      <q>
        <i style="color:gray">
       Our aim to enhance your daily life by bringing you premium 
       lifestyle choices through innovative technology and products.
       We always believe in providing quality services to the consumer.
       We have 100+ Electronics products of different- different brands to sell.
      </i>
      </q>
      </p>
</div>

</section>

<div class="text-center" style="margin-bottom:70px">
  <hr style="width:50%">
  <h1><strong><i style="color:#e91e63">RISTA VISHVAAS KA</i></strong></h1>
  <hr style="width:50%">
</div>


<div style="margin-bottom:50px" >
    <blockquote class="blockquote" style="color:#212529">
        <h3 class="bq-title" style="color:#e91e63">Our Products & Services</h3>
      </blockquote>
        <div class="text-center">
        <p><strong>HOME APPLIANCES-</strong><i style="color:gray"> Mixer, Juicer, Grinder, Iron</i></p>
        <p><strong> ELECTRONICS- </strong><i style="color:gray">Washing Machine, TV, Refrigerator, AC, Microwave etc.</i></p>
       <p> <strong>IT & COMMUNICATION- </strong><i style="color:gray">Video Games, Computers, Laptops, Mobile Phones, Tablets, Play Station</i></p>
      </div>
</div>



<div>
    <blockquote class="blockquote" style="color:#212529">
        <h3 class="bq-title" style="color:#e91e63">Top Selling Brands</h3>
      </blockquote>
</div>




<div class="row" style="padding: 25px 50px 0 50px;">

    <!-- Grid column -->
    <div class="col-lg-3 col-md-4 col-12 mb-lg-0 mb-5">

      <!-- Image -->
      <div class="view overlay rounded z-depth-2 mb-4">
        <img class="img-fluid" src="assets/images/logo/vivo.jpg" style="height: 170px;width: 347px;" alt="One plus">
        <a>
          <div class="mask rgba-white-slight waves-light" mdbWavesEffect></div>
        </a>
      </div>
    </div>

    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-3 col-md-4 col-12 mb-lg-0 mb-5">

        <!-- Image -->
        <div class="view overlay rounded z-depth-2 mb-4">
          <img class="img-fluid" src="assets/images/logo/realme.jpg" style="height: 170px;width: 347px;" alt="One plus">
          <a>
            <div class="mask rgba-white-slight waves-light" mdbWavesEffect></div>
          </a>
        </div>
      </div>
  
      <!-- Grid column -->

      <!-- Grid column -->
    <div class="col-lg-3 col-md-4 col-12 mb-lg-0 mb-5">

        <!-- Image -->
        <div class="view overlay rounded z-depth-2 mb-4">
          <img class="img-fluid" src="assets/images/logo/onepluse.jpg" style="height: 170px;width: 347px;" alt="One plus">
          <a>
            <div class="mask rgba-white-slight waves-light" mdbWavesEffect></div>
          </a>
        </div>
      </div>
  
      <!-- Grid column -->

      <!-- Grid column -->
    <div class="col-lg-3 col-md-4 col-12 mb-lg-0 mb-5">

        <!-- Image -->
        <div class="view overlay rounded z-depth-2 mb-4">
          <img class="img-fluid" src="assets/images/logo/oppo1.jpg" style="height: 170px;width: 347px;" alt="One plus">
          <a>
            <div class="mask rgba-white-slight waves-light" mdbWavesEffect></div>
          </a>
        </div>
      </div>
  
      <!-- Grid column -->

</div>

      <div style="margin-bottom:15px">  
          <blockquote class="blockquote" style="color:#212529">
                <h3 class="bq-title" style="color:#e91e63">Our Services</h3>
              </blockquote>
            </div>

      <div class="conatiner z-depth-2" style="height:140px;width:100%;margin: 0 30px 50px 30px">
        <div class="row">
        
        <div class="col-md-3 text-center borders">
            <mdb-icon fas icon="truck" size="3x" style="color: #ff4500"></mdb-icon>
            <p class="p1">Free Delivery</p>
        </div>

        <div class="col-md-3 text-center borders" >
            <mdb-icon fas icon="undo" size="3x" style="color: #ff4500"></mdb-icon>
            <p class="p1">Return Policy</p>

          </div>

          <div class="col-md-3 text-center borders">
              <mdb-icon fas icon="headset" size="3x" style="color: #ff4500"></mdb-icon>
              <p class="p1">24/7 Support</p>

            </div>

            <div class="col-md-3 text-center bordersx" style="color: #ff4500">
                <mdb-icon far icon="credit-card" size="3x"></mdb-icon>
                <p class="p1">Secure Payment</p>
              </div>

            </div>
      </div>

</div>
