<div style="margin:30px 0 30px 0">
  <h3 class="text-center">Checking Out Products</h3>
  <div class="board-inner" id="status-buttons">
      <div class="liner"></div>

      <!-- Spinner-->
 
<ngx-spinner
bdOpacity = 0.9
bdColor = "#333"
size = "medium"
color = "#fcff15"
type = "timer"
[fullScreen] = "true"
>
<p style="color: white" > Loading... </p>
</ngx-spinner>

<!-- // Spinner-->
      <!-- circular user icon -->
      <div class="check">
          <span class="round-tabs">
            <i _ngcontent-c7="" aria-hidden="true" class="fa fa-credit-card"></i>
          </span>
        </div>
      
      </div>

      </div>


      

   





      <div style="margin: 30px 0 30px 0">
        <div class="container" style="margin: 52px 153px 15px 153px;">
          <div class="row">
            <div class="col-12 col-md-8">
                <div class="jumbotron hoverable p-4">
              <h5>YOUR CART</h5>
              <hr>
              
              <button mdbBtn style="background:#ff4500" class="waves-light" type="button" (click)="test1.toggle()" mdbWavesEffect>
                SHIPPING ADDRESS
              </button>
              
              <div class="" mdbCollapse [isCollapsed]="false" #test1="bs-collapse" >
                <!-- Default checked -->
                    <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input"  name="defaultExampleRadios" checked mdbInput>
                    <label class="custom-control-label" *ngFor="let user of userDetails">
                      <h5><b>{{user.shippinginfo.firstname + " " + user.shippinginfo.lastname}}</b></h5>
                      <p>{{user.shippinginfo.phone}}</p>
                      <p>{{user.shippinginfo.address}}, {{user.shippinginfo.state}}, 
                        {{user.shippinginfo.country}}, {{user.shippinginfo.zip}}</p>
                    </label>
                    </div>
              </div>

              <button mdbBtn style="background:lightseagreen" class="waves-light" type="button" (click)="test2.toggle()" mdbWavesEffect>
                BILLING ADDRESS
              </button>
              
              <div class="" mdbCollapse [isCollapsed]="false" #test2="bs-collapse">
                <div class="custom-control custom-radio">
                  <input type="radio" class="custom-control-input"  name="defaultExampleRadios" checked mdbInput>
                  <label class="custom-control-label" *ngFor="let user of userDetails">
                    <h5><b>{{user.billingDetails.firstname + " " + user.billingDetails.lastname}}</b></h5>
                    <p>{{user.billingDetails.phone}}</p>
                    <p>{{user.billingDetails.address}}, {{user.billingDetails.state}}, 
                        {{user.billingDetails.country}}, {{user.billingDetails.zip}}</p>
                  </label>
                  </div>
              </div>

              
              <button mdbBtn style="background:purple" class="waves-light" type="button" (click)="test3.toggle();" mdbWavesEffect>
                ORDER SUMMARY
              </button>
            
              
              <div  class="" mdbCollapse [isCollapsed]="true" #test3="bs-collapse">
                
                <div class="row custom-margin" *ngFor="let product of products">
                  <div class="col-sm-4">
                      <div class="product-image">
                        <div class="view hm-zoom z-depth-2" style="cursor: pointer">
                            <img [src]="product.productImage" [alt]="product.productName" width="100%"  style="height: 117px" class="img-fluid rounded">
                        </div>
                        </div>
                        <hr>
                        <!-- Quantity add & remove 
                        <mdb-icon fas icon="plus-circle" style="font-size:22px"(click)="onAddQuantity(product)"></mdb-icon> 
                        <div style="display:inline-block;margin: 0 5px 0 5px;" >
                        <input type="text" [ngModel]="product.productQuantity" (ngModelChange) ="product.productQuantity=$event" style="width:50px;text-align: center" pattern="[1-9]{1}">
                      </div>
                        <mdb-icon fas icon="minus-circle" style="font-size:22px" (click)="onRemoveQuantity(product)"></mdb-icon> 
                    -->
              </div>
        
              <div class="col-sm-8" style="color:#212529;">
                <h5>{{product.productName}}</h5>
                <p style="color:#878787;font-size:12px">{{product.productCategory}}</p>
                <p style="color:#878787;font-size:12px">Seller: Vision Star</p>


                <div class="row" style="margin-top:-22px">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>Price</th>
                      <th >Quantity</th>
                      <th >Total</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td >
                        ₹ {{product.productPrice}}
                      </td>
                      <td > {{product.productQuantity}} PC</td>
                      <td style="color:#ff4500;font-weight: 700">₹ {{product.productPrice * product.productQuantity}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>




              </div>
        
              <!--  <div  class="col-sm-2" style="padding:0">
                
                 <button (click)="removeProduct(product)" mdbBtn type="button" color="primary" size="sm"  mdbWavesEffect>Remove</button>
              </div>
            -->

              <div style="width:97%">
                <hr>
              </div>
              </div>
            
            </div>


              <button mdbBtn style="background:green" class="waves-light" type="button" (click)="test4.toggle()" mdbWavesEffect>
                PAYMENT OPTIONS
              </button>
              <div class="" mdbCollapse [isCollapsed]="false" #test4="bs-collapse">
                <div class="text-center">
                    <button mdbBtn  style="background:transparent;width:75%" class="waves-light customButton2" type="button" (click)="test5.toggle()" mdbWavesEffect>
                        <img src="assets/images/paytm.png" width="31px"> 
                        <span style="margin-left: 13px;
                        font-weight: 700;
                        font-size: 17px;">Paytm</span>
                      </button>
                      <div class="" mdbCollapse [isCollapsed]="false" #test5="bs-collapse">
                        <button type="button" routerLink="/order-confirm" class="btn btn-lg btn-block" style="background-color: #ff4500;width: 64%;
                        margin: 0 14% 0 18%;">
                          Pay Now @ ₹ {{totalPrice}}  <span class="glyphicon glyphicon-chevron-right"></span>
                        </button>
                      </div>

                      <button mdbBtn  style="background:transparent;width:75%"  class="waves-light customButton1" type="button" (click)="test6.toggle()" mdbWavesEffect>
                          <img src="assets/images/cod.png" width="31px" >
                           <span style="margin-left: 10px;
                          font-weight: 700;"> Cash On Delivery</span>
                          </button>
                          <div class="" mdbCollapse [isCollapsed]="false" #test6="bs-collapse">
                            <button type="button" class="btn btn-lg btn-block" routerLink="/order-confirm" style="    background-color: #ff4500;width: 64%;
                            margin: 0 14% 0 18%;">
                              Pay Now @ ₹ {{totalPrice}} <span class="glyphicon glyphicon-chevron-right"></span>
                            </button>
                          </div>
                    </div>
              </div>

            </div>
          </div>
        




            <!-- Price Details -->
            <div class="col-12 col-md-4" style="color:#212529">
                <div class="jumbotron hoverable p-4">
                <h5>PRICE DETAILS</h5>
                <table class="table" cellspacing="0" style="max-height: 28px">
                    <tbody>
                      <tr>
                        <th scope="row">Price({{cartItemCount}} Items) </th>
                        <td>₹ {{totalPrice}}</td>
                      </tr>
                      <tr>
                        <th scope="row">Delivery Charges</th>
                        <td style="color:#388e3c">FREE</td>
                      </tr>
                      <tr>
                          <th scope="row">Tax </th>
                          <td>₹ {{tax}}</td>
                        </tr>
                      <tr>
                        <th scope="row">Amount Payable</th>
                        <td style="font-weight:700;color: #ff4500;font-size: 20px">₹ {{totalPrice + tax }}</td>
                      </tr>
                    </tbody>
                  </table>
        
            </div>
        
        
          </div>
          <!-- // Price Details -->

        </div>
        
        </div>


<!-- Receipt -->
<!--
      <div class="mt-5 mb-5 container" id="receipt">
        <a name="" style="position: relative; float: right" id="" class="btn btn-primary" href="javascript:;;" role="button"
          (click)="downloadReceipt()"><i class="fa fa-download"></i> Receipt</a>
      
        <div class="row">
          <div class="well col-xs-10 col-sm-10 col-md-6 col-xs-offset-1 col-sm-offset-1 col-md-offset-3" style="margin: auto">
            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6">
                <address>
                  <strong>Vstore Pvt Ltd</strong>
                  <br>
                  Rajasthan, India
                  <br>
                  <abbr title="Phone">P:</abbr> (+91) 8124794942
                </address>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6 text-right">
                <p>
                  <em>Date: {{date | date}}</em>
                </p>
                <p>
                  <em>Receipt #: 34522677W</em>
                </p>
              </div>
            </div>
            <div class="row">
              <div class="text-center">
                <h1>Receipt</h1>
              </div>
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Product</th>
                    <td></td>
                    <th class="text-center">Price</th>
                    <th class="text-center">Total</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let product of products">
                    <td class="col-md-9">
                      <h6><em>{{product.productName}}</em></h6>
                    </td>
                    <td></td>
                    <td class="col-md-1 text-center">₹ {{product.productPrice}}</td>
                    <td class="col-md-1 text-center">₹ {{product.productPrice}}</td>
                  </tr>
                  <tr>
                    <td>   </td>
                    <td>   </td>
                    <td class="text-right">
                      <p>
                        <strong>Subtotal: </strong>
                      </p>
                      <p>
                        <strong>Tax: </strong>
                      </p>
                    </td>
                    <td class="text-center">
                      <p>
                        <strong>{{totalPrice}}</strong>
                      </p>
                      <p>
                        <strong>₹ {{tax}}</strong>
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td>   </td>
                    <td>   </td>
                    <td class="text-right">
                      <p><strong>Total: </strong></p>
                    </td>
                    <td class="text-center text-danger">
                      <h4><strong>₹ {{totalPrice + tax }}</strong></h4>
                    </td>
                  </tr>
                </tbody>
              </table>
              <button type="button" class="btn btn-success btn-lg btn-block">
                Pay Now   <span class="glyphicon glyphicon-chevron-right"></span>
              </button>
            </div>
          </div>
        </div>
-->
      
    

