<div class="container" style="margin-top: 10px;margin-bottom: 10px">
<!-- Card -->
<div class="card card-cascade wider reverse" style="box-shadow:none">

    <!-- Card image -->
    <div class="view view-cascade overlay custom-overlay" >
        
            <img src="assets/images/finallogo.png" class="animated swing infinite custom-img" data-wow-delay="0.6s">
   
      <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg" alt="Card image cap" style="position:static">
      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
  
    <!-- Card content -->
    <div class="card-body card-body-cascade text-center custom-card">
  

      <!-- Title -->
      <h5>Welcome</h5>
      <h4 class="card-title" *ngFor="let user of userList" style="color:#FC6262"><strong>{{user.username}}</strong></h4>
      <!-- Subtitle -->
      <h6 class="font-weight-bold indigo-text py-2">Prime</h6>
      <!-- Text -->
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem perspiciatis voluptatum a, quo nobis, non commodi quia repellendus sequi nulla voluptatem dicta reprehenderit, placeat laborum ut beatae ullam suscipit veniam.
      </p>
  
      <!-- Linkedin -->
      <a class="px-2 fa-lg li-ic"><i class="fab fa-linkedin-in"></i></a>
      <!-- Twitter -->
      <a class="px-2 fa-lg tw-ic"><i class="fab fa-twitter"></i></a>
      <!-- Dribbble -->
      <a class="px-2 fa-lg fb-ic"><i class="fab fa-facebook-f"></i></a>
  
    </div>
  
  </div>
  <!-- Card -->
</div>

<!--User Profile & Orders-->
<div class="container">
    <div class="row" style="margin-top:45px;margin-bottom:25px">
    <!-- Card -->
    <div class="col-md-6">
<div class="card testimonial-card">

    <!-- Background color -->
    <div class="card-up purple-gradient"></div>
  
    <!-- Avatar -->
    <div class="avatar mx-auto white">
      <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2810%29.jpg" class="rounded-circle" alt="woman avatar">
    </div>
  
    <!-- Content -->
    <div class="card-body" style="text-align: center">
      <!-- Name -->
      <span *ngFor="let user of userList">
      <h4 class="card-title" style="color: #f334a7"><strong>{{user.username}}</strong></h4>
      <p>Email: {{user.email}}</p>
    </span>
     
      <hr>
      <!-- Quotation -->
      <button type="button" class="btn blue-gradient btn-lg">Manage Profile</button>
      <button (click)="userLogout()" type="button" class="btn peach-gradient btn-lg waves-effect">Logout</button>

    </div>
  
  </div>
  <!-- Card -->
</div>


<!-- Manage order-->
<div class="col-md-6">
        <div class="modal-dialog modal-side modal-bottom-right modal-notify modal-danger" role="document">
                <!--Content-->
                <div class="modal-content">
                  <!--Header-->
                  <div class="modal-header peach-gradient" >
                    <p class="heading">Discount offer:
                      <strong>10% off</strong>
                    </p>
              
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true" class="white-text">&times;</span>
                    </button>
                  </div>
              
                  <!--Body-->
                  <div class="modal-body">
              
                    <div class="row">
                      <div class="col-3">
                        <p></p>
                        <p class="text-center">
                          <i class="fas fa-gift fa-4x"></i>
                        </p>
                      </div>
              
                      <div class="col-9">
                        <p>Sharing is caring. Therefore, from time to time we like to give our visitors small gifts. Today is
                          one
                          of those days.</p>
                        <p>
                          <strong>Copy the following code and use it at the checkout. It's valid for
                            <u>one day</u>.</strong>
                        </p>
                        <h2>
                          <span class="badge">v52gs1</span>
                        </h2>
              
                      </div>
                    </div>
                  </div>
              
                  <!--Footer-->
                  <div class="modal-footer flex-center">
                    <a href="https://mdbootstrap.com/products/jquery-ui-kit/" class="btn purple-gradient">Get
                      it now
                      <i class="far fa-gem ml-1 white-text"></i>
                    </a>
                    <a type="button" class="btn aqua-gradient waves-effect" data-dismiss="modal">My Orders</a>
                  </div>
                </div>
                <!--/.Content-->
              </div>
              <!-- Manage order-->
</div>
</div>

<div class="container" *ngFor="let user of userList">
<!-- Default form contact -->
<form novalidate (ngSubmit)="onSubmit()" [formGroup]="profileForm" #pform="ngForm" class="text-center border border-light p-5">

        <p class="h4 mb-4"><b>Edit Profile</b></p>
    
        <!-- Name -->
        <input formControlName="username" type="text" id="defaultContactFormName" class="form-control mb-4" value="{{user.username}}" name="username" required>
        <div *ngIf="formErrors.username" class="alert alert-primary" role="alert">
          {{formErrors.username}}
        </div>
    
        <!-- Email -->
        <input formControlName="email" type="email" id="defaultContactFormEmail" class="form-control mb-4" value="{{user.email}}" name="email">
        <div *ngIf="formErrors.email" class="alert alert-primary" role="alert">
          {{formErrors.email}}
        </div>

        <input formControlName="phone" type="text" id="defaultContactFormPhone" class="form-control mb-4" value="{{user.phone}}" name="phone" pattern="[789][0-9]{9}" required>
        <div *ngIf="formErrors.phone" class="alert alert-primary" role="alert">
          {{formErrors.phone}}
        </div>

      
    
        <!-- Message -->
        <div class="form-group">
            <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3" placeholder="Address" name="address"></textarea>
        </div>
        <div *ngIf="formErrors.address" class="alert alert-primary" role="alert">
          {{formErrors.address}}
        </div>
    
    
        <!-- Send button -->
        <button [disabled]="pform.invalid" class="btn btn-info btn-block" type="submit">Send</button>
    
    </form>
    <!-- Default form contact -->


    <div >
      <p>{{userList | json}}</p>
      <p></p>
      <ul>
        <li *ngFor="let user of userList">
          <p>{{user.username}}</p>
        </li>
      </ul>
    </div>
</div>
