<div class="container" style="margin-top: 10px;margin-bottom: 10px">
<!-- Card -->
<div class="card card-cascade wider reverse" style="box-shadow:none">

    <!-- Card image -->
    <div class="view view-cascade overlay custom-overlay" >
        
            <img src="assets/images/finallogo.png" class="animated swing infinite custom-img" data-wow-delay="0.6s">
   
      <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg" alt="Card image cap" style="position:static">
      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
  
    <!-- Card content -->
    <div class="card-body card-body-cascade text-center custom-card">
  
      <!-- Title -->
      <h4 class="card-title"><strong>My adventure</strong></h4>
      <!-- Subtitle -->
      <h6 class="font-weight-bold indigo-text py-2">Photography</h6>
      <!-- Text -->
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem perspiciatis voluptatum a, quo nobis, non commodi quia repellendus sequi nulla voluptatem dicta reprehenderit, placeat laborum ut beatae ullam suscipit veniam.
      </p>
  
      <!-- Linkedin -->
      <a class="px-2 fa-lg li-ic"><i class="fab fa-linkedin-in"></i></a>
      <!-- Twitter -->
      <a class="px-2 fa-lg tw-ic"><i class="fab fa-twitter"></i></a>
      <!-- Dribbble -->
      <a class="px-2 fa-lg fb-ic"><i class="fab fa-facebook-f"></i></a>
  
    </div>
  
  </div>
  <!-- Card -->
</div>

<!--User Profile & Orders-->
<div class="container">
    <div class="row" style="margin-top:45px;margin-bottom:25px">
    <!-- Card -->
    <div class="col-md-6">
<div class="card testimonial-card">

    <!-- Background color -->
    <div class="card-up purple-gradient"></div>
  
    <!-- Avatar -->
    <div class="avatar mx-auto white">
      <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2810%29.jpg" class="rounded-circle" alt="woman avatar">
    </div>
  
    <!-- Content -->
    <div class="card-body" style="text-align: center">
      <!-- Name -->
      <h4 class="card-title">Anna Doe</h4>
      <hr>
      <!-- Quotation -->
      <button type="button" class="btn blue-gradient btn-lg btn-block">Manage Profile</button>
    </div>
  
  </div>
  <!-- Card -->
</div>


<!-- Manage order-->
<div class="col-md-6">
        <div class="modal-dialog modal-side modal-bottom-right modal-notify modal-danger" role="document">
                <!--Content-->
                <div class="modal-content">
                  <!--Header-->
                  <div class="modal-header peach-gradient" >
                    <p class="heading">Discount offer:
                      <strong>10% off</strong>
                    </p>
              
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true" class="white-text">&times;</span>
                    </button>
                  </div>
              
                  <!--Body-->
                  <div class="modal-body">
              
                    <div class="row">
                      <div class="col-3">
                        <p></p>
                        <p class="text-center">
                          <i class="fas fa-gift fa-4x"></i>
                        </p>
                      </div>
              
                      <div class="col-9">
                        <p>Sharing is caring. Therefore, from time to time we like to give our visitors small gifts. Today is
                          one
                          of those days.</p>
                        <p>
                          <strong>Copy the following code and use it at the checkout. It's valid for
                            <u>one day</u>.</strong>
                        </p>
                        <h2>
                          <span class="badge">v52gs1</span>
                        </h2>
              
                      </div>
                    </div>
                  </div>
              
                  <!--Footer-->
                  <div class="modal-footer flex-center">
                    <a href="https://mdbootstrap.com/products/jquery-ui-kit/" class="btn purple-gradient">Get
                      it now
                      <i class="far fa-gem ml-1 white-text"></i>
                    </a>
                    <a type="button" class="btn aqua-gradient waves-effect" data-dismiss="modal">My Orders</a>
                  </div>
                </div>
                <!--/.Content-->
              </div>
              <!-- Manage order-->
</div>
</div>

<div class="container">
<!-- Default form contact -->
<form class="text-center border border-light p-5">

        <p class="h4 mb-4"><b>Edit Profile</b></p>
    
        <!-- Name -->
        <input type="text" id="defaultContactFormName" class="form-control mb-4" placeholder="Name">
    
        <!-- Email -->
        <input type="email" id="defaultContactFormEmail" class="form-control mb-4" placeholder="E-mail">
    
        <!-- Subject -->
        <label>Subject</label>
        <select class="browser-default custom-select mb-4">
            <option value="" disabled>Choose option</option>
            <option value="1" selected>Feedback</option>
            <option value="2">Report a bug</option>
            <option value="3">Feature request</option>
            <option value="4">Feature request</option>
        </select>
    
        <!-- Message -->
        <div class="form-group">
            <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3" placeholder="Message"></textarea>
        </div>
    
        <!-- Copy -->
        <div class="custom-control custom-checkbox mb-4">
            <input type="checkbox" class="custom-control-input" id="defaultContactFormCopy">
            <label class="custom-control-label" for="defaultContactFormCopy">Send me a copy of this message</label>
        </div>
    
        <!-- Send button -->
        <button class="btn btn-info btn-block" type="submit">Send</button>
    
    </form>
    <!-- Default form contact -->
</div>
