.custom-card {
    margin-left: 4%;
    margin-right: 4%;
    background: #fff;
    z-index: 3;
    margin-top: -1rem;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);

}

.custom-overlay {
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18),
    0 4px 15px 0 rgba(0,0,0,.15)
}